<div class="major-points">
    <div>
        <img src="https://i.imgur.com/9WrlkJd.jpg">
        <h2> Header </h2>
        <ul>
            <li> Woah</li>
        </ul>
    </div>
    <div>
        <img src="https://i.imgur.com/9WrlkJd.jpg">
        <h2> Header </h2>
        <p> Hello </p>
    </div>
    <div>
        <img src="https://i.imgur.com/9WrlkJd.jpg">
        <h2> Header </h2>
        <p> Hello </p>
    </div>
    <div>
        <img src="https://i.imgur.com/9WrlkJd.jpg">
        <h2> Header </h2>
        <p> Hello </p>
    </div>
    <div>
        <img src="https://i.imgur.com/9WrlkJd.jpg">
        <h2> Header </h2>
        <p> Hello </p>
    </div>
    <div>
        <img src="https://i.imgur.com/9WrlkJd.jpg">
        <h2> Header </h2>
        <p> Hello </p>
    </div>
</div>